body{
    padding: 0;
    margin: 0;
    padding-top: 7vh;    
    font-family: 'Poppins', sans-serif;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* Global Classes */
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar */
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    border-bottom: black 2px solid;
    box-shadow: 0px 2px 8px rgb(119, 119, 119);
    background-color: white;
}

#navbar-brand-container{
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

#brand-logo{
    width: 40px;
}

#navbar-navigation{
    display: none;
}

#open-overlay-menu{
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.overlay-menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    padding: 20px 10px;
    overflow: scroll;
}

#overlay-menu-header{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
}

#overlay-menu-profile-photo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#overlay-menu-profile-info{
    width: 85%;
    box-sizing: border-box;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

#overlay-menu-profile-username{
    margin: auto 0;
}

#close-overlay-menu{
    height: 20px;
    cursor: pointer;
}

#overlay-navigation{
    list-style: none;
    padding: 0;
}

.overlay-navigation-index{
    height: 50px;
}

.overlay-navlink{
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 1px black solid;
    text-decoration: none;
    color: black;
}

.overlay-navlink-icon{
    height: 60%;
    margin-right: 15px;
}

.overlay-menu-disabled{
    display: none;
}

@media screen and (min-width: 700px){
    body{
        padding-top: 10vh;
    }
        
    /* navbar */
    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        border-bottom: black 2px solid;
        box-shadow: 0px 2px 8px rgb(119, 119, 119);
        background-color: white;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 45px;
    }
    
    #navbar-brand-container{
        position: initial;
        margin: 0 0;
    }
    
    #brand-logo{
        width: 40px;
    }
        
    #navbar-navigation{
        display: block;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation-index{
        width: 100px;
        height: 40px;
        border-radius: 5px;
    }

    .navigation-index:hover{
        background-color: rgb(245, 240, 240);
    }

    .navlink{
        color: black;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navigation-profile-photo{
        width: 40px;
        margin-left: 20px;
    }

    #open-overlay-menu{
        display: none;
    }
    
    .overlay-menu{
        display: none;
    }
}